@import '../partials/variables';
.dark {
    background: $--bg-dark;
    color: $--text-dark;
    .main {
        &__title {
            color: $--text-dark;
        }
    }
    .navbar__nav__link {
        color: $--active;
    }
    .active_li {
    }
    .card {
        border-top: 1px solid $--border;
        &__miniature {
            background-color: $--border;
            transition: background-color 0.5s ease-in-out;
            &:hover {
                background-color: $--button-hover;
            }
        }
        &__title {
            color: $--text-dark;
        }
    }
    .card__expanded-content {
        background-color: $--border;
    }
    .modal {
        &__content {
            background-color: $--border;
        }
        &__close {
            background-color: $--button-active;
        }
    }
}
