.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    &__content {
        border-radius: 8px;
        width: 97%;
        height: 80%;
        position: relative;
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 30px;
    }

    &__row {
        &-border {
            border-top: 1px solid $--button-hover;
            border-bottom: 1px solid $--button-hover;
            padding: 7px 0px 7px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    img {
        margin-right: 20px;
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;

        border-radius: 100px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        text-align: center;
        font-size: 36px;

        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .card {
        &__title {
            margin: 0;
            margin-bottom: 6px;
        }
    }
    /* Додайте цей CSS у свій файл стилів */
    .body-lock {
        overflow: hidden;
    }
}
