.slider__container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 0px 12px 50px 12px;
}

.slider__image {
    max-width: 100%;
    max-height: 100%;
    //max-width: 616px;
    //max-height: 412px;
    height: auto;
    background: transparent;
    border-radius: 8px;
}

.sliderStyle {
    .slick-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.slick-track {
    margin-top: 50px;
}
/* Remove outline when image is focused or clicked */
.slider__container-img:focus,
.slider__container-img:active,
.slider__container-img img:focus,
.slider__container-img img:active {
    outline: none;
    border: none;
}
