@import "../partials/variables";
body{
    background: $--bg-dark;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow-x: hidden;
    a{
        text-decoration: none;
    }

    padding: 0 20px;
}

body.dark{
    background: $--bg-dark;
    color: $--text-dark;
}

body.light{
    background: $--bg-light;
    color: $--text-light;
}
.navbar__nav__link{
    color: #C4C4C4;
    /* Basic/Head */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%; /* 15.96px */
    cursor: pointer;
}
.active_li{
    color: #FFF;
    /* Basic/Head */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%; /* 15.96px */
}

.container {
    width: 100%;
    padding: 0 40px;
}

